In [4]:
import pandas as pd

dat=pd.read_csv("/data/ephemeral/home/Seungcheol/unet++_1024.csv")

In [5]:
dat.head()

,image_name,class,rle
0,image1661319116107.png,finger-1,1814994 5 1817039 13 1819085 18 1821132 22 182...
1,image1661319116107.png,finger-2,2079292 8 2081337 13 2083382 18 2085427 22 208...
2,image1661319116107.png,finger-3,2538135 7 2540181 11 2542228 14 2544275 17 254...
3,image1661319116107.png,finger-4,828114 12 830160 17 832207 20 834253 24 836300...
4,image1661319116107.png,finger-5,1084159 7 1086203 12 1088248 16 1090292 20 109...

In [6]:
dat.isna().sum()

image_name    0
class         0
rle           0
dtype: int64